<html lang="fr">
    <head>
        <link rel="stylesheet" href="/assets/base.css">
        <title>Connexion</title>
    </head>
    <body>
        <form method="post">
            <label for="ja_id">Identifiant JA</label><br>
            <input type="text" name="ja_id" id="ja_id" placeholder="JA-0000" value="{{ request.form['ja_id'] }}"><br>
            <label for="password">Mot de passe :</label><br>
            <input type="password" name="password" id="password" placeholder="Mot de passe"><br>
            <button type="submit" name="valider" id="valider">Valider !</button>
        </form>
        <p>{{ message }}</p>
    </body>
</html>