<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../static/assets/base.css">

    <title>Inscription</title>
</head>
<body>

    <main>
        <form action="#" method="post">
            <h1>Inscription:</h1>

            <label for="name">
                <p>Name: <span class="error"></span></p>
                <input type="text" id="name" placeholder="Theo">
            </label>

            <label for="email">
                <p>Email: <span class="error"></span></p>
                <input type="email" id="email" placeholder="Theo@gmail.com">
            </label>

            <label for="id_ja">
                <p>Identifiant de Junior Association: <span class="error"></span></p>
                <input type="text" id="id_ja" placeholder="0123456789">
            </label>

            <label for="password">
                <p>Mot de passe: <span class="error"></span></p>
                <input type="password" id="password" placeholder="MotDePasse123">
            </label>

            <button type="submit">Valider</button>
        </form>
    </main>

</body>
</html>